%ul
  %li.message-list{data: {message: {id: message.id}}}
    .message-list__user
      .message-list__user--name
        = message.user.name
      .message-list__user--time
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .message-list__topic
      - if message.content.present?
        %p.message-list__topic--content
          = message.content
      = image_tag message.image.url, class: 'message-list__topic--image' if message.image.present?