
$BtnColor:#38aef0;
$SideBarColor: #253141;
$SideGroupsColor: #2f3e51;
$SimpleColor: white;
$ChatMainColor: #ffffff;
$ChatBorderColor: #eeeeee;
$MessageColor: #fafafa;
$FormColor: #d2d2d2;
$GroupMainColor: #333333;
$GroupSubColor: #999999;
$TopicColor: #434a54;

